.obj filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
.mtl filter=lfs diff=lfs merge=lfs -text
simulation/envs/data/ycb_objects/*/*.obj filter=lfs diff=lfs merge=lfs -text
simulation/envs/data/ycb_objects/*/*.png filter=lfs diff=lfs merge=lfs -text
